include includes/menu
div.frame
  div#centralPhoto
    img(src="/uploads/"+photo)
  div#navigation
    span#prevButton 
      a(href="/prevPhoto") &lt;
    span &nbsp;&nbsp;
    span#nextbutton
      a(href="/nextPhoto") &gt;